@use 'sass:map';
@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-size: rem(16);
  font-family: 'Jost', sans-serif;
  background-color: $color-bg-page;
}

#app {
  padding: 0;
  height: 100vh;
  max-width: rem(1440);
  margin: 0 auto;
  background-color: $color-bg-surface;
}

.navbar {
  @include flex-between;
  min-height: rem(114);
  padding: 0 rem(24);
  margin-bottom: rem(8);

  @include media-up('md') {
    padding: 0 rem(60);
  }

  &__menu {
    @include flex-row(center, rem(20));
  }

  &__logo {
    min-width: rem(137);
    min-height: rem(74);
  }

  &__links {
    max-width: rem(364);
    padding: rem(21.95) rem(15) rem(28.05) rem(10);
    @include flex-row(center, rem(25));

    a {
      text-decoration: none;
      color: $color-text;
    }
  }

  &__actions {
    @include flex-row(center, rem(20));

    .navbar__buy-button {
      background-color: $color-text;
      color: $color-text-inverse;
      padding: rem(12) rem(26) rem(18) rem(26);
      font-size: rem(18);
      font-weight: map.get($font-weights, 'regular');
      line-height: rem(20);
    }
  }
}

.zero-page__first {
  height: rem(785);
}

.zero-page__hero-content {
  height: 100%;
}

.first {
  @include flex-between;
  height: 100%;
  padding-left: rem(60);

  &__content {
    height: 100%;
    padding-top: rem(120);
  }

  &__header-tag {
    display: inline-block;
    font-size: rem(14);
    font-weight: map.get($font-weights, 'regular');
    font-family: 'Jost', sans-serif;
    line-height: rem(20);
    color: $color-text-inverse;
    background-color: $color-yellow;
    padding: rem(4) rem(8);
    margin-bottom: rem(40);
  }

  &__title {
    font-size: rem(96);
    font-weight: map.get($font-weights, 'regular');
    font-family: 'Jost', sans-serif;
    line-height: rem(86.4);
    color: $color-text;
    margin-bottom: rem(40);
  }

  &__title-secondary {
    font-size: rem(50);
    font-weight: map.get($font-weights, 'regular');
    font-family: 'Jost', sans-serif;
    line-height: rem(25.2);
    color: $color-text;
    margin-bottom: rem(40);
  }

  &__description {
    font-size: rem(26);
    font-weight: map.get($font-weights, 'regular');
    font-family: 'Jost', sans-serif;
    line-height: rem(33.8);
    color: $color-text;
    margin-bottom: rem(86.5);
  }

  &__icons {
    @include flex-row(center, rem(66));
  }
}
