@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: rem(16);
  font-family: 'Inter', sans-serif;
  background-color: #e9e9e9;
}

#app {
  padding: 0;
  height: 100vh;
  max-width: rem(1440);
  margin: 0 auto;
  background-color: #FFFFFF;
}

.navbar {
  display: flex;
  min-height: rem(114);
  align-items: center;
  padding: 0 rem(60);

  &__menu {
    display: flex;
  }

  &__logo {
    min-width: rem(137);
    min-height: rem(74);
  }

}
